.check{
    width: 100%;
    padding: 0;
    margin: 0;
    height: 100%;
}

.check .container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 1.5rem;
    flex-direction: column;
}

.check .top{
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    gap: 2rem;
}

.check .left{
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 0 3rem;
    width: 23rem;
    /* flex:1; */
}

.check .image__container{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 2rem;
    margin-top: 1rem;
    padding: 1rem 1rem;
   
}

.check .image__container img{
    height: 20rem;
    width: 20rem;
    border-radius: 2rem;
    /* object-fit: cover; */
}


.check .other__details, .check .desc{
    margin-left: 1rem;
}

.check .other__details{
    color:rgb(46, 70, 46);
}
.check .desc{
    color:darkgray;
}

.check .image__container h2{
    color:darkcyan;
}
.check .image__container h4{
    color:rgb(105, 98, 98);
    align-self: flex-start;
    margin-left: 4.5rem;
}

.check .right{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 30rem;
    max-width: 30rem;
    margin: 1rem 1rem;
    background-color: rgb(80, 80, 121);
    gap: 1rem;
    align-items: center;
    height: 100%;
    border-radius:1rem;
    padding-bottom:1rem;
    align-self: flex-start;
}

.check .message__header{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
    align-self: flex-start;
}
.check .image__circle{
    background-color:white;
    padding: 0.5rem;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 0.5rem 0.5rem
}
.check .image__circle img{
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    background-size: 100% 100%;
}

.check .message__body{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.check .message__header h2{
    color: rgb(12, 245, 245);
    font-size: 2rem;
}

.check .message__body input{
    height: 2rem;
    width: 25rem;
    font-size: 1.3rem;
    color: darkcyan;
    border:none;
    border-radius: 0.3rem;
}

.check .message__body textarea{
    width: 23.3rem;
 }
.check .message__content{
   
    font-size: 1.3rem;
    color: darkcyan;
    border:none;
    border-radius: 0.3rem;
}

.check .message__body input::placeholder{
   font-style: italic;
   font-size: 1rem;
}

.check .message__body textarea::placeholder{
   font-style: italic;
   font-size: 1rem;
}

.check .message__body button{
    width: 7rem;
    padding: 0.5rem 1rem;
    background-color:teal;
    border:none;
    color:antiquewhite;
    border-radius: 0.3rem;
    align-self: flex-end;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: bold;
}
.check .message__body button:hover{
    padding: 0.7rem 1.3rem;
    color:white;
}

.check .links{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.check .phone{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: teal;
    font-size: 2rem;
    height: 2rem;
    gap: 0.5rem;
}
.check h6{
    color:white
}

.check .icons{
    display: flex;
    flex-direction: row;
    font-size: 2rem;
    height: 2rem;
    gap:1.5rem;
    text-decoration: none;
}
.check a{
    text-decoration: none;
    cursor: pointer;
}

.check .phone .call{
cursor: pointer;
color: teal;
}
.check .icons .what{
    color:#25D366;
}
.check .icons .twit{
    color:#1DA1F2;
}
.check .icons .face{
    color:#4267B2;
}

.check .down{
    display: flex;
    background:whitesmoke;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 3rem;
}
.check .down .images{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.check .down .images img{
    height: 10rem;
    width: 10rem;
    border-radius:0.5rem;
    margin: 0.5rem 1rem;
    cursor: pointer;
    transition: all 400ms ease;
}
.check .down .images .one_image{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.check .down .images img:hover{
    height: 12rem;
    width: 12rem;
}
.check .down .big img{
    height: 40rem;
    width: 45rem;
    border-radius:0.5rem;
    margin: 1rem;
}

@media screen and (max-width:1100px ){
    
    .check .top{
        flex-direction: column;
    }
    
    .check .right{
        margin-top: 2rem;
        align-self: center;
    }
    

     .check .down{
        flex-direction: column;
     }

     .check .down .images{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-top: 1rem;
    }
}

@media screen and (max-width:600px){
    .check .top{
        flex-direction: column;
    }
    
    .check .left{
        margin: 0;  
        width: 17rem;
    }
    
    .check .right{
        margin-top: 2rem;
        align-self: center;
        width: 18rem;
    }
    
    .check .image__container{
        width: 17rem;
       align-self: center;
    }

    .check .image__container img{
        height: 16rem;
        width: 16rem;
    }

    .check .other__details, .check .desc{
        margin-left: 3rem;
    }

    .check .message__body input{
        height: 2rem;
        width: 16rem;
    }
    
    .check .message__body textarea{
        width: 14.3rem;
     }
     .check .message__header h2{
        font-size: 1.5rem;
    }

     .check .down{
        flex-direction: column;
     }

     .check .down .images{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-top: 1rem;
        gap: 0;
    }
     .check .down .images img{
        width: 5rem;
        height: 5rem;

    }
     .check .down .images img:hover{
        width: 5.5rem;
        height: 5.5rem;
    }

    .check .down .big img{
        height: 18rem;
        width: 18rem;
        border-radius:0.2rem;
    }
}