.header{
    width: 100%;
    background-color: rgb(49, 22, 202);
    display: flex;
    flex-direction: column;
    height: 4rem;
    /* flex-wrap: wrap; */
    align-items: center;
    justify-content: center;
    text-align: center;
    /* gap:3rem; */
    margin: 0;
    padding: 2rem 0 1rem 0;
}
.header .top{
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .down h4{
    color: bisque;
    font-weight: lighter;
    /* font-size: 1.5rem; */
    font: 1em Roboto;
}

.header .left, .header .hright{
    margin: 0 1rem;
}

.header .left{
    display: flex;
    /* align-self: start; */
}

.header .hright{
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-top: 1rem;
    /* align-self: start; */
}
.header .account{
    align-items: center;
    display: flex;
    flex-direction: row;
    background-color: gainsboro;
    height: 2.5rem;
    /* padding: 0 1rem; */
    border-radius: 0.5rem;
}
.header .login{
    /* margin-right: 0.8rem; */
    background-color:antiquewhite;
    height: 2.5rem;
    padding: 0 1.4rem;
    align-items: center;
    display: flex;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    cursor: pointer;
    font-weight: bold;
    color:rgb(25, 3, 52);

    
}
.header .signup{
    /* margin-left: 0.8rem; */
    background-color: white;
    height: 2.5rem;
    padding: 0 1rem;
    align-items: center;
    display: flex;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    cursor: pointer;
    font-weight: bold;
    color:rgb(133, 52, 233)  
}
.header .left .logo1{
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 0.5rem;
}
.header .left .logo1 .logo2{
    font-weight: 500;
    color:rgb(235, 30, 156);
}
.header .left .logo1 .logo3{
    font-weight: bold;
    color: bisque;
}
.header .user{
    color:white;
    cursor: pointer;
    font-weight: bold;
}
.header .user:hover{
    color:antiquewhite;
}