/* *{
    align-self: baseline;
    margin-top: 2rem;
    position:absolute;
    bottom:0;
} */
footer{
    width: 100%;
    padding: 3rem 0;
    background-color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    /* height: 100%; */
    /* position:relative; */
    flex-direction: column;
    gap: 0;
    /* position:absolute; */
    /* top:100rem;  */
    /* bottom:-90rem; */
    /* align-self:baseline;
    justify-self:last baseline; */
    margin-top: 5rem;

}
.footer .line{
    margin-bottom: 0;
    background-color:lightgray;
    height: 0.1rem;
    width: 100%;
}
.footer .main__container{
    margin-top: 0;
    width: 98%;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
    background:white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0;
}
.footer .main__container .top{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3rem;
    margin-bottom: 0;
}
.footer .main__container .top .tleft{
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}
.footer .main__container .top .tleft .tleft__top{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap:0.7rem;
    margin-bottom: 0;
    cursor: pointer;
}
.footer .main__container .top .tleft .tleft__top h3{
    color: rgb(35, 22, 129);
}
.footer .main__container .top .tleft  h5{
    color: rgb(18, 11, 70);
    font-weight: 500;
    margin-top: 0.2rem;
}
.footer .main__container .top .tleft .tleft__top .logo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    background:pink;
    padding: 0.2rem;
    border-radius: 50%;
    flex-wrap: wrap;
}
.footer .main__container .top .tleft .tleft__top .logo img{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    object-fit: fit-content;
}
.footer .main__container .top .tright{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:2rem;
    flex-direction: row;
}
.footer .main__container .top .tright .container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background:none;
    border:1px solid lightgray;
    padding: 0 1rem;
    border-radius: 0.5rem;
    gap:1rem;
    transition: all 400ms ease;
}
.footer .main__container .top .tright .container:hover{
    background:rgba(18, 11, 70, 0.062);
}
.footer .main__container .top .tright .container .texts{
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    gap:0.3rem;
}
.footer .main__container .top .tright .container .texts h5{
    color: rgb(18, 11, 70);
    margin-bottom: 0;
}
.footer .main__container .top .tright .container .texts h3{
    color: rgb(18, 11, 70);
    margin-top: 0;
}
.footer .main__container .top .tright .container .phone {
    color: rgb(18, 11, 70);
    cursor: pointer;
}
.footer .main__container .top .tright .container .phone:hover {
    color:teal;
}
.footer .main__container .middle {
    margin-top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.footer .main__container .middle .link {
    color: rgb(35, 22, 129);
    cursor: pointer;
    transition: all 400ms ease;
    align-items: center;
    display: flex;
    flex-direction: row;
    margin: 0;
    gap: 0.3rem;
}
.footer .main__container .middle .link .icon {
    color: rgb(18, 11, 70);
}
.footer .main__container .middle .link:hover {
    color: rgba(18, 11, 70, 0.295);
}
.footer .main__container .down {
    color: rgb(18, 11, 70);
}
.footer a{
    text-decoration: none;
}

/* @media screen and (max-width:1100px ){
    .cards{
        grid-template-columns: 1fr 1fr;
    }
} */

@media screen and (max-width:600px){
    .footer .main__container .top .tright{
        flex-direction: column;
    }
}